.orange-custom-text{color: #ff5722}
.input-field input[type=text]:focus + label,.input-field input[type=password]:focus + label {color: #ff5722 !important;}
.input-field input[type=text]:focus,.input-field input[type=password]:focus{border-bottom: 1px solid #ff5722 !important;box-shadow: 0 1px 0 0 #ff5722 !important;border-left: none;border-right: none;}
.collection{margin: 0}
nav .brand-logo{font-size: 18px;font-weight: bold;}
form{margin:10px 0;}

/* register */
#match-password{position: relative;top: -15px;}
.error-message{display: none;}
.error-form .error-message{color: red;display: block;position: relative;top: -20px;font-size: 12px;}

/* pendaftaran */
.space{padding: 10px;background-color: #ececec}
.grey-space{background-color: #f3f3f3 !important}
.outer{display: block;width: 100%}
.left-ktp{display: inline-block;width: 43%}
.right-ktp{display: inline-block;width: 55%}
.ktp{padding: 10px;width:100%;box-sizing: border-box;}
.ktp:focus{border: 1px solid #ff5722}
.upload{display: inline-block;width: 49%;}
.upload .text{cursor: pointer;font-size: 11px;text-align: center;}
.upload .img-button{border:2px dotted red;padding: 20px;margin: 15px}
.upload .img-button img{width: 100%;height: auto;}
[type="checkbox"].filled-in:not(:checked)+label:after{border: 2px solid #ff5722;cursor: pointer;}
.checkbox-orange[type="checkbox"].filled-in:checked + label:after{border: 2px solid #ff5722;background-color: #ff5722;}
p a{text-decoration: underline !important;}
.waves-effect.orange-custom {background-color: #ff5722;width: 100%}
.title{color:#26a69a;text-transform: uppercase;font-size: 18px;}